@{
    ViewData["Title"] = "Women2";
}

<link href="~/css/Transparent.css" rel="stylesheet" />

<div class="no-padding">
    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel" data-ride="carousel" data-interval="6000">
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/images/womencanva2Shorter.png" alt="ASP.NET" class="img-responsive center-block" />
                        <div class="carousel-caption" role="option">
                        </div>
                    </div>

                </div>
            </div>
            <div class="main-text hidden-xs">
                <div class="col-md-5"></div>
                <div class="col-md-7 text-center" style="margin-top:150px">

                    <span style="font-size:45px;background-color:#00b8ff;padding-top:0px;padding-bottom:0px;padding-left:3px;padding-right:3px"><strong>Need Help with accessibility?</strong></span><br />

                    <span class="text-center" style="width:auto;font-size:20px;padding:5px">
                        We help you naigate through Melbourne congested streets.
                    </span><h4></h4>
                    <div class="text-center" style="margin-top:30px">
                        <a class="btn btn-warning btn-min-block btn-lg" href="/Home/SecondPage">Start here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container text-center">
    <h2 style="font-family:Calibri">HOW IT WORKS</h2>
</div>

<div class="container text-center">
    <div class="row">
    </div>
    <div class="col-md-4">
        <h2 class="text-center" style="font-family:Calibri"> - 1 - </h2>
        <h2>Enter Destination</h2>
        <p>
            Enter the address of the destination, the palce to want to visit in Melbourne.
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center" style="font-family:Calibri"> - 2 - </h2>
        <h2>Save</h2>
        <p>
            Save the information of the accessibility services you will need when you visit Melbourne.
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="text-center" style="font-family:Calibri"> - 3 - </h2>
        <h2>Enjoy</h2>
        <p>
            Enjoy your visit to Melbourne.
        </p>
    </div>
</div>


